



#main {
    margin-top: 8em;
}

/* tiutlos generales, usar siempre para mantener el formato en todas las páginas */

#contenedor_titulos {
    display: flex;
    justify-content: center;
    flex-direction: row;
        

    
    align-items: center;
    
    padding: 0;
    
    margin: 0;
    margin-top: 1.5em;
    height: 225px;
    width: 100%;
    background-image: url(../images/bufandacompleta42.png);
    
}

#contenedor_titulos div {
    margin: 0em;

    padding: 0;
    overflow: hidden;
    flex-shrink: 0;
    height:100%;
}



#contenedor_titulos .titulos {
    
    flex-grow: 1;
    overflow-x: auto;
    flex-shrink: 1;
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 1360px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #228978;
}



.titulo_letras {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    
}


.titulo_letras h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 66%;
    background-color: #5dcd81;
    color:#373737;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    
}

.titulo_letras h5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 34%;
    width: 100%;
    background-color: #228978;
    color: white;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#contenedor_alumnos {
    padding: 1em;
    display: block;
    margin: 0;
    padding: 0;

    background-color: white;
    width: 100%;
    
}


#contenedor_alumnos section {
    max-width: 1340px;
}


/*inscripciones */

#informacion_inscripciones {
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
 
}

.parrafo_general {
    background-color: white;
    margin: 1em;
    padding: 2em;
}

/* seccion de pasos de inscripcion */

#pasos_inscipcion {
    display: block;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    
    align-items: center;
    width: 100%;
    background-color: blue;
}

#pasos_inscipcion h5 {
    display: block;
    background-color: #4ca9ee;
    color: #373737;
    padding: 3em;
  
    text-align: center;
    
}

.paso_x_paso {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    
    position: relative;
}


.paso_x_paso label {
    display: block;
    cursor: pointer;
    padding: 1em;
    margin: 0;
    background-color: #9ad1f8;
    color: #373737;
}

.disparador_mayor label {
    padding: 2em;
}

.acordeon_mayor > input[type="checkbox"] {
    
    position: absolute;
}

.acordeon_mayor .contenido_acordeon_mayor {

    display: flex;
    flex-direction: row;
    align-items:flex-start;
    justify-content: space-between;
    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.acordeon_mayor > input[type="checkbox"]:checked ~ .contenido_acordeon_mayor {
    height: auto;
    overflow: visible;
}

.acordeon_mayor label {
    display: block;
}

.acordeon {
    width: 33.33%;
    border: 0.1em solid #228978;
}

.acordeon label {
    background-color: #9ad1f8;
    width: 100%;
}

.acordeon > input[type="checkbox"] {
    position: absolute;
    left: -100vw;
}

.acordeon .contenido_acordeon {
    background-color: white;    

    overflow-y: hidden;
    height: 0;
    transition: height 0.3s ease;
}

.acordeon > input[type="checkbox"]:checked ~ .contenido_acordeon {
    height: auto;
    overflow: visible;
}

.acordeon label {
    display: block;
}

.paso_x_paso input[type="checkbox"] {
    display: none;
}


.acordeon_mayor .disparador_mayor label::after, .acordeon .disparador label::after {
    font-family: 'fontawesome';
    content: "\f054";
    
    float: right;
    margin-left: auto;
    font-size: .58em;
    line-height: 1.556em;
    vertical-align: middle;
}

.acordeon_mayor > input[type="checkbox"]:checked ~.disparador_mayor label::after,
 .acordeon > input[type="checkbox"]:checked ~ .disparador label::after {
    content: "\f078";
}


 




    
    
    












/*tramites*/

#seccion_tramites {
    display: block;
    
    margin-left: auto;
    margin-right: auto;
    
    align-items: center;
    background-color: aquamarine;
}


